/*
@font-face {
	font-family: pnr;
    src: url('../fonts/f.eot');
    src: url('../fonts/f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/f.woff') format('woff'),
    url('../fonts/f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
*/


@font-face {
	font-family: rr;
    src: url('../fonts/Roboto-Regular.ttf');
 }

@font-face {
	font-family: 'rb';
    src: url('../fonts/Roboto-Bold.ttf');
 }